*{
    padding: 0;
    margin: 0;
}

.main{
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    
}

.contact{
    display: grid;
    width: 100%;
    height: 60vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-top: 10px;
    background-color: whitesmoke;
}


.main .logo{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 800;
}

.header .navitem{
    text-decoration: none;
    color: grey;
}

.header .navitem:hover{
    color: black;
}


.logo{
    margin-left:3rem;
    color: orange;
    
    
    
}
.logo:hover{
    color: lightsalmon;
}


.header ul{
    display: flex;
    padding: 0.8rem;
    justify-content: center;
    align-items: center;
    list-style: none;

}

.header ul li{
    padding: 0 2rem;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    color: grey;
}
.header ul li:hover{
    color: black;
}

.hero{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;

}

.head{
    margin-top: -1rem;
    width: 75%;
    height: 740px;
}

.head > h4{
    padding-top: 0.5rem;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    letter-spacing: 1px;
}

.items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
}

.items img{
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    
}

.name-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding-left: 6rem;
    margin-bottom: 3rem;
}

.name-items h4{
    font-size: 20px;
    color: gray;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.name-items h4:hover{
    color: darkgrey;
}



.Dish{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

}

.headDishes > h1 {
    padding-top: 5px;
    font-family: 'Playball',sans-serif;
    letter-spacing: 3px;
    color: goldenrod;
    text-align: center;
    line-height: 24px;
}

.DishPara {
    padding-top: 15px;
    font-family: 'Caveat', cursive;
    font-family: 'Playpen Sans', cursive;
    font-weight: 100;
    letter-spacing: 5px;
    text-align: center;
}

.dishItems{
    margin-top: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    
}

.Header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 15px;
}

.HeaderText >h1{
    padding-left: 100px;
    padding-top: 100px;
    font-size: 50px;
    font-family: 'DM Serif Display', serif;
}

.HeaderText .headerPara{
    padding-left: 100px;
    
}




.headerImage >img {
    width: 700px;
    float: right;
    border-radius: 5px;
    padding-right: 15px;
}

.services{
    margin-top: 5px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/images/headerImage.avif");
    object-fit: contain;
    
}

.serviceProvider{
    margin-top: -10rem;
    width: 80rem;
    height: 50vh;
    background-color: whitesmoke;
    text-align: center;
}


.serviceProvider > h1{
    padding-top: 10px;
    color: goldenrod;
}

.customers{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.customers .customer-list{

    
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 25px;
    font-size: 1.2rem;
    font-family:cursive;
}


.customers .customer-list:hover{
    background-color: whitesmoke;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.serviceProvider > h2{
    padding-top: 30px;
    font-size: 1.3rem;
}

.serviceProvider p{
    padding-top: 3px;    
} 

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30  vh;
    
    background-color: black;
    color: white;
}

.footer .content{
    padding-top: 20px;
    text-align: center;
}

.ContentForm{
    border: 0.5px solid grey;
    border-radius: 10px;
    margin: 5rem 10rem;
    text-align: center;
    

}
.ContentForm >h1{
    padding-top: 70px;
}

.ContentForm:hover{
    background-color: grey;
    color: white;
    cursor: pointer;
}

.ContactForm{
    margin: 2.5rem 5rem;
    text-align: center;
    border: 0.5px solid grey;
    border-radius: 10px;
}

.ContactForm:hover{
    background-color: lightgray;
    color: black;
    cursor: pointer;
}

input{
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 15px ;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.submit{
    padding-top: 5px;
    width: 100px;
    border-radius:10px ;
    padding: 10px;
    background-color: lightgreen;
    color: black;
}

label{
    padding-top: 10px;
    padding-bottom: 10px;
}


